/*
From:
https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity
*/
.globalBackground {
    overflow: hidden;
    position: relative;
}

.globalBackgroundImg {
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.globalBackgroundContent {
    position: relative;
}