/*
From:
https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity
*/
.globalBackground {
    position: relative;
}

.globalBackgroundImg {
    opacity: 0.25;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.globalBackgroundContent {
    position: initial;
}

.contentsClass {
    position: relative;
}

h1 {
    background-color: #cccccc;
}