.github-logo {
    max-height: 1rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.75rem;
}

li {
    font-size: 1.75rem;
}

.footerClass {
    border-left: 0.5rem solid;
    border-color: #666666;
    background-color: #cccccc;
    background-blend-mode: multiply;
    padding-left: 1.0rem;
    position: relative;
}