.github-logo {
    max-height: 1rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

p {
    font-size: 2rem;
}

.footerClass {
    border-left: 0.5rem solid;
    border-color: #666666;
    background-color: #aaaaaa;
    padding-left: 1rem;
    position: relative;
    z-index: 1;
}